/* style.css */
body {
    font-family: 'Helvetica', sans-serif;
    background-image: url('https://images.pexels.com/photos/3699434/pexels-photo-3699434.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2'); /* Ajout de l'image de fond */
    background-size: cover; /* Assurez-vous que l'image de fond couvre tout l'écran */
    background-attachment: fixed; /* L'image de fond reste fixe lors du défilement */
    margin: 0;
    padding: 0;
    color: #EBFA02; /* Couleur du texte */
}


.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

header {
    background: #1D184D;
    color: #EBFA02;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: #EBFA02 3px solid;
}

header a {
    color: #EBFA02;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}

header ul {
    padding: 0;
    list-style: none;
}

header li {
    display: inline;
    margin-left: 20px;
}

header h1 {
    float: left;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 36px;
}

nav {
    float: right;
    margin-top: 10px;
}

nav ul li {
    display: inline;
    
}

section {
    padding: 20px;
    background: #1D184D;
}

section h2 {
    color: #EBFA02;
}

section p {
    line-height: 1.6em;
}

footer {
    background: #1D184D;
    color: #EBFA02;
    text-align: center;
    padding: 10px;
    position: relative;
    bottom: 0;
    width: 100%;
}
